out/* filter=media
node_modules/* filter=media

*.exe filter=media -crlf
*.zip filter=media -crlf
*.nupkg filter=media -crlf

out/low-code-app2-win32-x64/low-code-app2.exe filter=media -crlf
out/make/squirrel.windows/x64/low-code-app2-1.0.0-full.nupkg filter=media -crlf
out/make/squirrel.windows/x64/low-code-app2-1.0.0\ Setup.exe filter=media -crlf
